<% content_for :head do %>
  <meta property="og:image" content="<%= @blog.blog_image.image_url(:large_pic) %>" />
  <meta property="og:title" content="<%= @blog.title %>" />
  <meta property="og:description" content="<%= truncate(@blog.content, :length => 128) %>"/>
<% end %>

<!-- <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "271e0905-d30e-4bc4-af9d-b574b6eda513"}); </script> -->

<% @page_title = "Bubboli - #{@blog.title}" %>

<div class="container">
    


      <div class="row">
        <div class="span9">
          
          
          <div class="row">
            <div class="span1">              
              <ul class="no-margin-or-bullet">
                <h3 class="mynewfont" style="color: #909090 "><li><%= @blog.created_at.strftime("%b %e") %></li></h3>
                <li style="font-size: 11px"><%= @blog.author %></li>
              </ul>
            </div>

            <div class="span5">
              <ul class="no-margin-or-bullet">
                <li style="font-size: 18px; color: #909090"><%= @blog.title %></li>
                <li style="font-size: 11px"><%= @blog.blog_categories.collect {|cat| cat.name }.join(", ") %> | <%= link_to(pluralize(@blog.comments.size - 1, 'comment'), :action => 'show', :id => @blog.id, :anchor => 'comments') %></li>                
                <li><%= link_to "Edit", :action => 'manage', :id => @blog.id if current_user && current_user.admin == true %></li>
              </ul>
            </div>

            <div class="span3 no-margin-or-bullet">
              <!-- ShareThis Button BEGIN -->
              <!-- <span class='st_facebook_hcount' displayText='Facebook'></span>
              <span class='st_twitter_hcount' displayText='Tweet' st_title='<%= @page_title %> via @bubboli'></span> -->
              <!-- ShareThis Button END -->
              
              
              <!-- AddThis Button BEGIN -->
              <div class="addthis_toolbox addthis_default_style">
              <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
              <a class="addthis_button_tweet"></a>
              </div>
              <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a4c5f04864e4f4"></script>
              <!-- AddThis Button END -->
            </div>

          </div>
          
          <div style="margin-left: auto; margin-right: auto; width: 380px"><%= image_tag(@blog.blog_image.image) if @blog.blog_image.image? %></div>
          <br>
          <div class="blog-content red-link">
            <%= simple_format(@blog.content) %>
          </div>
        
      
          <br>

          <div class="row">
            <div class="mynewfont blog-back-home pull-right"><%= link_to("«« Blog Home", blogs_path) %></div>
          </div>
          
          <hr/>        
        
          <div class="comment form-horizontal">
            <h5 class="gray-font">Leave a comment</h5>
            <%= render(:partial => 'comment_form')%>
          </div>
      
          <br>
          <br>
      
          <div class="existing-comment">
            <a name="comments"></a>
            <h5 class="gray-font"><%= pluralize(@blog.comments.size - 1 , 'Comment') %></h5>
              <ul class="no-margin-or-bullet">
              <% @comments.each do |comment| %>
                <% link = "http://"+comment.commenter_permalink %>
                <li><strong><%= link_to comment.commenter, link, :target => "_blank" %></strong> on <em><%= comment.created_at.strftime("%b %d, %Y")%></em></li>
                <li><%= comment.content %></li><br><hr>
              <% end %>
              </ul>
          </div>
        </div>

        <div class="span2 form-stacked">      
          <%= render(:partial => 'shared/blog_search')%>          
          <%= render(:partial => 'shared/archive_list')%>          
        </div>

      </div>
    


  
</div>
