
<div class="container">

  <div class="btn-group">
    <button class="btn"><%= link_to @child.first_name, relationship_path(@relationship) %></button>
    <button class="btn"><%= link_to "Upload Picture", '#' %></button>
    <a type="button" class="btn" href="#test_modal" data-toggle="modal">Add Image</a>
  </div>
  
   
  <div class="modal hide fade" id="test_modal">
  <a class="close" data-dismiss="modal">&times;</a>
  <%= simple_form_for(@child, :html => {:multipart => true, :remote => true}) do |f| %>
    <%= f.association :child_images do |ff| %>
      <%= ff.input :image, :as => :file, :multiple => true %>
    <% end %>
  <%= f.submit %>
  <% end %>
  </div>
  
  <%= form_for(@child, :html => {:multipart => true, :remote => true}) do |f| %>
  <%= f.fields_for :child_images do |ff| %>
    <%= ff.label :image %>
    <%= ff.file_field :image, multiple: true, name: "child_image[image]" %>
  <% end %>
    <%= f.submit "Submit" %>
  <% end %>
  
  
<br><br>

  <%= render :partial => 'shared/child_photos' %>
  
</div>