<div class="container">

  <div class="no-margin-or-bullet">
    <li><%= link_to "Manage Gifts", list_gift_path %></li>
    <li><%= link_to "Manage Blog", list_blog_path %></li>
    <li><%= link_to "Manage Comments", list_comment_path %></li>
    <li><%= link_to "Manage Blog Categories", list_blog_category_path %></li>
    <li><%= link_to "Manage Gift Categories", list_gift_category_path %></li>
    <li><%= link_to "Manage Gift Age Ranges", list_gift_age_range_path %></li>
  </div>

</div>