
<div class="row" id="approved_gifts">
  <ul class="no-margin-or-bullet">
    <% if !@user_purchased_gift.empty? %>   
      <% @user_purchased_gift.each do |gp| %>
        <li class="related-gifts">
          <%= link_to image_tag(gp.gift.gift_images.first.image_url(:sm_thumb_pic)), gift_path(gp.gift) if gp.gift %><br>
          <%= link_to gp.gift.name, gift_path(gp.gift) if gp.gift %><br>
          
          <% if current_user.is_parent_of?(@child) %>
          <span class="gray-font">From: <%= gp.giver.first_name %></span>
          <% end %>
          
        </li>
      <% end %>
    <% else %>
      <p class="no-gifts add-margin">Keep track of gifts you purchased for <%= @child.first_name %> by adding it to the list!  Once 
        <%= @child.first_name %>'s parents accept your friendship, you will be able to see other gifts purchased for <%= @child.first_name %>.</p>
    <% end %>
  </ul>

</div>
