<script type="text/javascript">
$(document).ready(function() {
//$(':checkbox').change(function(e){
//   if ($(':checkbox:checked').length > 1) {
//     $(this).prop('checked', false)
//   }
//});

$('#gift_search').hide();
  $('#gift_search_link').click(function() {
   $('#gift_search_link').hide();
   $('#gift_search').show();
   });
});
</script>



<i class="icon-user"></i> <span class="red-link"><%= link_to "Back To My Profile", user_path(current_user)%></span><br><br>

<div class="op3-title op3-stitched-shadow">
  <%= link_to "Photos of  #{@child.first_name}", child_child_images_path(@child) %>
</div>


<div class="test-stitch"><br></div>
  
  <ul>
    <% if current_user.is_parent_of?(@child)%><li class="inline pull-right red-link"><i class="icon-plus"></i> <%= link_to "Add Photos", child_child_images_path(@child) %></li><% else %><% end %>
    <li class="inline pull-right red-link"><i class="icon-list"></i> <%= link_to "View All Photos", child_child_images_path(@child) %></li>
  </ul>  

<br>
<br>        
  <div>
    <% if @child_images %>
    <% @five_photos.each do |f| %>
      <%= link_to image_tag(f.image_url(:thumb)), "#" %>
    <% end %>
    <% else %>
    <% end %>
  </div>


<br>

<div class="op3-title op3-stitched-shadow">
  Recommended Gifts for <%= @child.first_name %>
</div>

<div class="test-stitch"><br></div>
  <br>
  <br>        
  
  
  <%= render :partial => 'recommended_gifts'%>

<br>


<div class="op3-title op3-stitched-shadow">
  Gifts Already Purchased for <%= @child.first_name %>
</div>

<div class="test-stitch"><br></div>

  <span class="pull-right red-link"><i class="icon-search"></i> <%= link_to "Search / Add Gifts to Purchased List", '#', :id => "gift_search_link", :remote => true %></span>

  <%= render :partial => 'shared/purchased_gift_search'%>      
  
  <%= render :partial => 'approve_purchased_gifts' if current_user.is_parent_of?(@child) %><br>  

  <%= render :partial => 'purchased_gifts'%>  



