<script type="text/javascript">
$(':checkbox').change(function(e){
   if ($(':checkbox:checked').length > 1) {
     $(this).prop('checked', false)
   }
})
</script>

<div class="container">
<%= link_to "<<< Back To My Profile", user_path(current_user)%><br><br>
  <div class="row">

    <div class="span3" > 
      <div class="profile-well">
        <%= image_tag(@child_images.first.image_url(:profile_pic)) if @child_images.first %>
        <span style="font-size: 12px; font-weight: bold;"><%= @child.first_name %>, Child ID: <%= @child.id %></span><br>
        Location: <span class="float-right"><%= @child.child_city%>, <%= @child.child_state%></span><br>
        Mother: <span class="float-right"><%= @child.child_mother%></span><br>
        Father: <span class="float-right"><%= @child.child_father%></span><br>
        Birthday: <span class="float-right"><%= @child.birth_date.strftime("%b. %d")%></span><br>
      </div>
  
      <br>
      
      <div class="preference-well">
        <span class="relationship-header">Gift Options <%= @child.first_name %></span>
        <%= simple_form_for(@relationship, :html => {:class => "form-inline"}) do |f| %>
          <%= f.association :relation_type, :as => :collection_select, :input_html => {:class => "input-small"}, :label => "Relation To Child"%>
          <%= f.association :gift_categories, :as => :check_boxes, :item_wrapper_class => "span2" %>
          <%= f.association :gift_price_ranges, :as => :check_boxes, :item_wrapper_class => "span2" %>
          <div class="pull-left"><%= f.button :submit, :class => "primary" %></div>
        <% end %>
      </div>
    
    </div>


    <div class="span9">

      <span class="relationship-header"><%= link_to "Photos of  #{@child.first_name}", child_child_images_path(@child) %></span>
      <hr/>

      <div>
        <% if @child_images %>
        <% @five_photos.each do |f| %>
          <%= link_to image_tag(f.image_url(:thumb)), "#" %>
        <% end %>
        <% else %>
        <% end %>
        </div>
      
      <br>

      <span class="relationship-header">Recommended Gifts for <%= @child.first_name %></span>
      <hr/>

        <%= render :partial => 'recommended_gifts'%>  

      
      <br>
      <span class="relationship-header">Gifts Already Purchased for <%= @child.first_name %></span>
      
        <%= render :partial => 'shared/purchased_gift_search'%>      
      
        <%= render :partial => 'purchased_gifts'%>  
      
    </div>

  </div>

</div>