<script type="text/javascript">
$(':checkbox').change(function(e){
   if ($(':checkbox:checked').length > 1) {
     $(this).prop('checked', false)
   }
})
</script>

<div class="container">
<%= link_to "<<< Back To My Profile", user_path(current_user)%><br><br>
  <div class="row">

    <div class="span3" > 
      <div class="profile-well">
        <%= @child.first_name %><br>
        <%= @child.id %>
      </div>
  
      <div>      
        Location: <%= @relationship.child_city%>, <%= @relationship.child_state%><br>
        Relationship: <%= @relation %><br>
        Mother: <%= @relationship.child_mother%><br>
        Father: <%= @relationship.child_father%>
      </div>  
    
      <div class="btn-group square space-break">
        <button class="btn"><span style="font-size: 25px; font-weight: bold; color: #53868B"><%= kids_followings.count %></span></br><span style="color: #999999">Following</span></button>
        <button class="btn"><span style="font-size: 25px; font-weight: bold; color: #53868B"><%= kids_followings.count %></span></br><span style="color: #999999">Followers</span></button>
        <button class="btn"><span style="font-size: 25px; font-weight: bold; color: #FF9B97"><%= kids_followings.count %></span></br><span style="color: #999999">Pending</span></button>
      </div>

    </div>


    <div class="span9">

      <span style="font-size: 16px; color: #FF6F6A">User Child Options</span>
      <hr/>

        <div class="row">
          <%= simple_form_for(@relationship, :html => {:class => "form-horizontal form-inline"}) do |f| %>
            <%= f.association :relation_type, :as => :collection_select %>
            <%= f.association :gift_categories, :as => :check_boxes, :item_wrapper_class => "inline" %>
            <div class="pull-right"><%= f.button :submit, :class => "primary" %></div>
          <% end %>
              
        </div>
        Birthday: <%= @child.birth_date%><br><br>
        Gender: <%= @child.gender %><br><br>
        Gifts by category: <%= @gifts %><br><br>
        by Gender Age: <%= @gifts_by_gender_age %><br><br>
        by Gender Age Cate: <%= @gifts_by_gender_age_category %><br><br>
        
        
        Testing <%= @relationship.user_child_categories %>
        
      </br>
      </br>
      </br>
      </br>

      <span style="font-size: 16px; color: #FF6F6A">Recommended Gifts For <%= @child.first_name %> JUST BASED ON AGE AND GENDER FOR NOW</span>
      <hr/>

        <div class="row">

            <ul class="no-margin-or-bullet">
            <% @gifts_by_gender_age.each do |gift| %>
              <li class="related-gifts">
                <%= link_to image_tag(gift.gift_images.first.image_url(:sm_thumb_pic)), gift_path(gift) %></br>
                <%= link_to gift.name, gift_path(gift) %>
              </li>
            <% end %>
          </ul>



        </div>

    </div>

  </div>

</div>