<i class="icon-user"></i> <span class="red-link"><%= link_to "Back To My Profile", user_path(current_user)%></span><br><br>


<div class="op3-title op3-stitched-shadow">
  MY KIDS' FOLLOWERS
</div>

<div class="test-stitch"><br></div>


<div class="row">
  <ul class="child-list">
    <% @followers.each do |r| %>
    <li class="children-following child-list block">
      <%= image_tag(r.user.image_url(:sm_thumb)) if r.user.image %>
      <strong style="color: #53868B;"><%= r.user.first_name %></strong><br>
      <span class="font-next-to-images">
        Relation: <%= r.relation_type.name if r.relation_type %><br>
        Following: <%= r.child.first_name if r.child %>
      </span>
      <%= link_to "Unfollow", r, :method => :delete, :data => {:confirm => "Are you sure you want to disallow #{r.user.first_name} to follow #{r.child.first_name}?"}, :remote => "true", :class => "unfollow btn btn-mini btn-warning btn-spacing" %>
    </li>  
    <% end %>
  </ul>
</div>