

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "271e0905-d30e-4bc4-af9d-b574b6eda513"}); </script>



<div class="container">

<h3>Welcome back, <%= @user.first_name %>.</h3>

</br>
  
  <div class="span3 no-margin-or-bullet">
    <ul class="user-tabs nav-pills nav-stacked" id="myTab">
      <li class="active"><a href="#kids_followed">Kids I Following</a></li>
      <li><a href="#add_kid">Add A Kid</a></li>
      <li><a href="#add_my_kid">Add My Kid</a></li>
      <li><a href="#acct_settings">Account Settings</a></li>
    </ul>
  </div>  

  <div class="span9">
    <div class="tab-content">
      <div class="tab-pane active" id="kids_followed"><%= render(:template => "users/kids_follow") %></div>
      <div class="tab-pane" id="add_kid"><%= render(:template => "users/add_child") %></div>
      <div class="tab-pane" id="add_my_kid"><%= render(:template => "users/add_my_child") %></div>
      <div class="tab-pane" id="acct_settings"><%= render(:template => "users/edit") %></div>
    </div>
  </div>

    <script>
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      })
      
      $(function () {
        $('#myTab a:first').tab('show');
      })
      

    </script>

  
</div>




