<% @page_title = "List of Blog Categories" %>

<div class="container">
  
  <p><%= link_to "«« Back to Blogs »»", blog_path %> | <%= link_to "«« Back to Admin Panel »»", admin_path %></p></br> 
  
  <h4>List of Blog Categories</h4></br>
  
  <table class="table zebra-striped">
    <thead>
      <tr>
        <th>ID #</th>
        <th>Name</th>
        <th>Action</th>
      </tr>
    </thead>
  
    <tbody>
      <% @blog_categories.each do |blog| %>
      <tr>
        <td><%= blog.id %></td>
        <td><%= blog.name %></td>
        <td><%= link_to "Edit", :action => 'manage', :id => blog.id %> | <%= link_to "Delete", blog, :method => :delete %></td>        
       </tr>
      <% end %>
    </tbody>  

  </table>
  
  <div class="btn primary white-link pull-right"><%= link_to "New", :action => 'manage' %></div>

</div>