<div class="container">
  
 <p class="brand-text qikki-font">These brands share our commitment of providing your children with the best quality products.</p>
 
 <br>
 <br>
 
  <div class="row">
    <p class="span3 brands"><%= link_to thinkfun, "http://www.thinkfun.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to alex_toys, "http://www.alextoys.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to cloud_b, "http://www.cloudb.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to creations_by_you, "http://www.creationsbyyou.com", :target => "_blank" %></p>
  </div>
  
  <br>
  <br>
  
  <div class="row">
    <p class="span3 brands"><%= link_to lego, "http://www.lego.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to gamewright, "http://www.gamewright.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to mega_bloks, "http://www.megabloks.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to app_crayon, "http://www.dano2.com", :target => "_blank" %></p>
  </div>
  
  <br>
  <br>
  
  <div class="row">
    <p class="span3 brands"><%= link_to leap_frog, "http://www.leapfrog.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to land_of_nod, "http://www.landofnod.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to ravensburger, "http://www.ravensburger.com", :target => "_blank" %></p>
    <p class="span3 brands"><%= link_to ugly_doll, "http://www.uglydolls.com", :target => "_blank" %></p>
  </div>
  
</div>