<div class="container">
  
  <a name="gifts"></a>
  <div class="row will-paginate">
      <%= page_navigation_links @gifts, 'gifts' %>  
  </div>
  
  <div class="row">
    
    <div class="span3 form-stacked toy-search">
      <p class="mynewfont">Search Criterias</p>
      <%= semantic_form_for @search_favorite, :url => favorite_gift_path do |f| %>
        <%= render(:partial => "gift_search", :locals => {:f => f})%>
      <% end %>
      
    </div>
    
    <div class="row">
      <div class="span12">
        <ul class="prod">
          <% @gifts.each do |gift| %>
            <%= render(:partial => "gift_list", :locals => {:gift => gift})%>
          <% end %>        
        </ul>
      </div>
    </div> 
    
    <div class="row will-paginate pull-right">
        <%= page_navigation_links @gifts, 'gifts' %>  
    </div>
  </div>
</div>