
<div class="container">
    
  <div class="row">

    <div class="span2 splash-box splash-box-effect">
      <p class="splash-font"><strong>Let us help you find the perfect gift for your little ones<p class="gray-font">We find and recommend products
        that are unique, useful, creative, modern and most importantly, fun.</strong></p>
      <hr/>
      <p class="splash-font"><strong>WE ARE SOCIAL: </strong><br/></p>
      <div style="opacity: 0.6">
        <!-- <%= link_to facebook, "http://www.facebook.com/bubboli", :target => "_blank" %> 
        <%= link_to twitter, "http://www.twitter.com/bubboli", :target => "_blank" %>
        <p style="text-align: center"><%= link_to pinterest, "http://www.pinterest.com/bubboli/", :target => "_blank" %>
        <%= link_to rss, blogs_url(format: "atom"), :target => "_blank" %></p>
         -->
        <a class="addthis_button_facebook_follow" addthis:userid="bubboli"><%= facebook %></a>
        <a class="addthis_button_twitter_follow" addthis:userid="bubboli"><%= twitter %></a><br>
        <a class="addthis_button_pinterest_follow" addthis:userid="bubboli"><%= pinterest %></a>
        <a class="addthis_button_rss_follow" addthis:userid="bubboli.com/blog.atom"><%= rss %></a>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-518d26d65475ecc9"></script>
        
      </div>
    </div>
    
    

    
    <div class ="span8">
      
      <%= render(:partial => "featured_gifts") %>

    </div>
  </div>
  
  
  <br>
  <br>
  
  <a name="gifts"></a>
  <div class="row"> 
  
    <div class="span11">
        <%= page_navigation_links @gifts, 'gifts' %>  
    </div>    

  </div>
  
  <div class="row">
    
    <div class="span2 form-stacked toy-search">
      <p class="mynewfont">Search Criterias</p>
      <%= simple_form_for @search do |f| %>
        <%= render(:partial => "gift_search", :locals => {:f => f})%>
      <% end %>
      
  
    </div>
    
    <div class="row">
      <div class="span8  extra-padding">
        <ul class="prod">
          <% if @gifts.empty? %>
            <p class="no-gifts">There are no gifts that match your criteria.</p>
          <% else %>
            <% @gifts.each do |gift| %>
              <%= render(:partial => "gift_list", :locals => {:gift => gift})%>
            <% end %>
          <% end %>        
        </ul>
      </div>
    </div> 
    
    <div class="row will-paginate pull-right">
        <%= page_navigation_links @gifts, 'gifts' %>  
    </div>

  </div>
</div>
