<% @page_title = "Manage Gifts" %>

<div class="container">

  <h4>Manage Gifts</h4>

  <%= semantic_form_for(@gift, :html => {:multipart => true}) do |f| %>
    <%= f.inputs do %>

      <div class="row">
        <div class="span8">

          <%= f.semantic_fields_for :gift_image do |ff| %>
            <%= ff.input :image, :as => :file %>
            <%= ff.input :remote_image_url, :label => "Remote Image URL" %>
            <%= ff.input :image2, :as => :file %>
            <%= ff.input :remote_image2_url, :label => "Remote Image 2 URL" %>
            <%= ff.input :image3, :as => :file %>
            <%= ff.input :remote_image3_url, :label => "Remote Image 3 URL" %>
            <%= ff.input :image4, :as => :file %>
            <%= ff.input :remote_image4_url, :label => "Remote Image 4 URL" %>
          <% end %>

          <%= f.input :name %>
          <%= f.input :permalink, :as => :url, :label => "Website" %>
          <%= f.input :merchant %>
          <%= f.input :sku, :label => "SKU Number" %>
          <%= f.input :manufacturer %>
          <%= f.input :gender, :as => :select, :collection => ['Male', 'Female', 'Unisex'] %>  
          <%= f.input :age_range, :as => :select, :collection => ['Birth-12 Mos.', '12-24 Mos.', '2 Years', '3-4 Years', '5-7 Years', '8-11 Years', '12+ Years'] %>
          <%= f.input :price %>
          <%= f.input :price_search, :as => :select, :collection => ['Less Than $25.00', '$25.00 - $49.99', '$50.00-$74.99', '$75.00-$99.99', '$100.00-$199.99', '$200.00 & Up'] %>          


          <label>Gift Categories</label>
          <div class="input">
            <% @all_gift_categories.each do |cat| %>
              <%= check_box_tag('gift_categories[]', cat.id, @gift.gift_categories.map {|c| c.id }.include?(cat.id)) %> 
              <%= cat.name %></br>
            <% end %>
          </div>

          <%= f.input :available, :label => "Availability", :as => :radio, :collection => [["True", true], ["False", false]] %>      
          <%= f.input :favorite, :label => "Favorite", :as => :radio, :collection => [["True", true], ["False", false]] %>      
        </div>

        <div class="span8">
          <%= f.input :description %>
          <%= f.input :why_bubboli_loves_it, :label => "Why Bubboli Loves It" %>
        </div>
      </div>
    
    <% end %>

    <div class="pull-right">
    <div class="btn primary white-link"><%= link_to "Cancel", list_gift_path %></div>
    <%= f.commit_button :button_html => {:class => "primary"} %>
    </div>
    
  <% end %>
  
</div>