<% @page_title = "Manage Gifts" %>

<div class="container">

  <h4>Manage Gifts</h4>

  <%= simple_form_for(@gift, :html => {:multipart => true, :class => "form-horizontal"}) do |f| %>

      <div class="row">
        <div class="span6">
          

          <%= f.association :gift_images do |builder| %>
            <%= render 'gift_image_fields', :f => builder %>
          <% end %>
          <p><%= link_to_add_fields "Add Image", f, :gift_images %>
         

          <%= f.input :name %>
          <%= f.input :permalink, :as => :url, :label => "Website" %>
          <%= f.input :merchant %>
          <%= f.input :sku, :label => "SKU Number" %>
          <%= f.input :manufacturer %>
          <%= f.input :gender, :as => :select, :collection => ['Male', 'Female', 'Unisex'] %>           
          <%= f.association :gift_age_ranges, :as => :check_boxes, :label => "Age Range" %>                    
          <%= f.input :price %>
          <%= f.association :gift_price_ranges, :as => :check_boxes, :label => "Price Search" %>          
          <%= f.association :gift_categories, :as => :check_boxes, :label => "Gift Categories" %>

        </div>

        <div class="span6">
          <%= f.input :available, :label => "Availability", :as => :radio, :collection => [["True", true], ["False", false]] %>      
          <%= f.input :favorite, :label => "Favorite", :as => :radio, :collection => [["True", true], ["False", false]] %>                
          <%= f.input :description %>
          <%= f.input :why_bubboli_loves_it, :label => "Why Bubboli Loves It" %>
        </div>
      </div>
    

    <div class="pull-right">
    <div class="btn primary white-link"><%= link_to "Cancel", list_gift_path %></div>
    <%= f.button :submit, :class => "primary" %>
    </div>
    
  <% end %>
  
</div>
</br>