<script type="text/javascript">
$(document).ready(function() {
 
	$('.tabs a').click(function(){
		switch_tabs($(this));
	});
 
	switch_tabs($('.active'));
 
});
 
function switch_tabs(obj)
{
	$('.tab-content').hide();
	$('.tabs a').removeClass("active");
	var id = obj.attr("rel");
 
	$('#'+id).show();
	obj.addClass("active");
}
</script>

<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "271e0905-d30e-4bc4-af9d-b574b6eda513"}); </script>




<% @page_title = @gift.name %>
<div class="container">

<%= link_to("«« Back to Gifts", gifts_path) %>
  <div class="row">
    <div class="span12">
      
      <div>
        <h3 class="qikki-font" style="color: #53868B"><%= @gift.name %></h3>
        <%= render(:partial => "gift_images") %>
      
      </div>
      
      </br>
      </br>
          <ul class="tabs">
            <li><a href="javascript:void(0)" class="active" rel="tabs1">Product Description</a></li>
            <li><a href="javascript:void(0)" rel="tabs2">Why Bubboli Loves It</a></li>
          </ul>
      
        <div class="tab-content" id="tabs1"><%= simple_format(@gift.description) %></div>
        <div class="tab-content" id="tabs2"><%= simple_format(@gift.why_bubboli_loves_it) %></div>
        
        </br>
        
        <div>
          <%= render(:partial => "related_gifts")%>
        </div>
        
    </div>
    
    <div class="span4">
      <div class="row gift-buy-box">
        <h4 style= "color: #53868B" >Price: <%= number_to_currency(@gift.price) %></h4>
        <% link = "http://"+@gift.permalink %>
        <div class="btn primary white-link"><%= link_to "Buy It Now", link, :target => "_blank" %></div></br></br>
        <span class='st_facebook' st_img='<%= @gift.gift_images.first.image_url(:large_pic) %>'></span>
        <span class='st_twitter' st_title='<%= @page_title %> via @bubboli'></span>
        <span class='st_pinterest' st_img='<%= @gift.gift_images.first.image_url(:large_pic) %>'></span>
        <span class='st_email'></span>
      </div>
      
      </br>
      </br>

      <div class="row gift-buy-box2">
        <h4 style= "color: #53868B; text-align: center">Product Statistics</h4>
        <h5 style= "color: #53868B;">For Ages:</h5>
          <ul class="no-margin-or-bullet">
            <% @gift.gift_age_ranges.each do |age| %>
            <li><%= age.name %></li>
            <% end %>
          </ul>
          
        <h5 style= "color: #53868B;">Categories:</h5>
          <ul class="no-margin-or-bullet">
            <% @gift.gift_categories.each do |cat| %>
            <li><%= cat.name %></li>
            <% end %>
          </ul>
      </div>

      
    </div>
    
  </div>  
</div>

