<% content_for :head do %>
  <meta property="og:image" content="<%= @gift.gift_images.first.image_url(:large_pic) %>" />
  <meta property="og:title" content="<%= @page_title %>" />
  <meta property="og:description" content="<%= truncate(simple_format(@gift.description), :length => 118) %>"/>
<% end %>

<script type="text/javascript">var switchTo5x=true;</script>
<!-- <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "271e0905-d30e-4bc4-af9d-b574b6eda513"}); </script> -->


<% @page_title = @gift.name %>
<div class="container">

<i class="icon-chevron-left"></i><span class="red-link"><%= link_to("Back to Gifts", gifts_path) %></span><br><br>
  <div class="row">
    <div class="span9">
      
      <div>
        <h3 class="qikki-font" style="color: #53868B"><%= @gift.name %></h3>
        <span style="font-size: 12px"> 
            <%= link_to "Edit", :action => 'manage', :id => @gift.id if current_user && current_user.admin == true %>
        </span>
        <%= render(:partial => "gift_images") %>
      
      </div>
      
      </br>
      </br>


        <ul class="tabs nav-tabs " id="myTab">
          <li class="active"><a href="#prod_desc">Product Description</a></li>
          <li><a href="#bubboli_love">Why Bubboli Loves It</a></li>
        </ul>

        <div class="tab-content tab-content-line">
          <div class="tab-pane active" id="prod_desc"><%= simple_format(@gift.description) %></div>
          <div class="tab-pane" id="bubboli_love"><%= simple_format(@gift.why_bubboli_loves_it) %></div>
        </div>

        <script>
          $('#myTab a').click(function (e) {
            e.preventDefault();
            $(this).tab('show');
          })
          
          $(function () {
            $('#myTab a:first').tab('show');
          })
          

        </script>

        </br>
        
        <div>
          <%= render(:partial => "related_gifts")%>
        </div>
        
    </div>
    
    <div class="span3">
      <div class="row gift-buy-box">
        <h4 style= "color: #53868B" >Price: <%= number_to_currency(@gift.price) %></h4>
        <% link = "http://"+@gift.permalink %>
        <div class="btn primary white-link"><%= link_to "Buy It Now", link, :target => "_blank" %></div></br></br>
        <!-- ShareThis Button BEGIN -->
        <!-- <span class='st_facebook' st_img='<%= @gift.gift_images.first.image_url(:large_pic) %>'></span>
        <span class='st_twitter' st_title='<%= @page_title %> via @bubboli'></span>
        <span class='st_pinterest' st_img='<%= @gift.gift_images.first.image_url(:large_pic) %>'></span>
        <span class='st_email'></span> -->
        <!-- ShareThis Button END -->
        
        <!-- AddThis Button BEGIN -->
        <div class="addthis_toolbox addthis_default_style addthis_16x16_style">
        <a class="addthis_button_facebook"></a>
        <a class="addthis_button_twitter"></a>
        <a class="addthis_button_pinterest_share"></a>
        <a class="addthis_button_email"></a>
        </div>
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a4c5f04864e4f4"></script>
        <!-- AddThis Button END -->
      </div>
      
      </br>
      </br>

      <div class="row gift-buy-box2">
        <h4 style= "color: #53868B; text-align: center">Product Statistics</h4>
        <h5 style= "color: #53868B;">For Ages:</h5>
          <ul class="no-margin-or-bullet">
            <% @gift.gift_age_ranges.each do |age| %>
            <li><%= age.name %></li>
            <% end %>
          </ul>
          
        <h5 style= "color: #53868B;">Categories:</h5>
          <ul class="no-margin-or-bullet">
            <% @gift.gift_categories.each do |cat| %>
            <li><%= cat.name %></li>
            <% end %>
          </ul>
      </div>

      
    </div>
    
  </div>  
</div>