<% content_for :head do %>
  <meta property="og:image" content="http://www.bubboli.com//assets/bubboli-logo-square-702bbb43fb322e654926771685ef0e5b.png" />
<% end %>

<div class="container">
  
  <%= form_tag submit_path do %>
    <%= text_field_tag :email, nil, :placeholder => 'Your email address' %>
    <%= submit_tag "Subscribe", :alt => "Subscribe", class: "btn btn-large green"%>
  <% end %>
  
  
  <div class="index-background">  
    <div class="row">
      <div style="font-size: 20px; text-align: center; font-family: 'futura-pt-condensed';">  
        <span>CURATED BIRTHDAY GIFTS FOR KIDS AT YOUR FINGERTIPS!</span>
        <br>
        <br>
      </div>
      
      <div class="span12">
        <br>
        <p style="font-size: 17px; text-align: center; ">Bubboli helps you keep track of childrens'
        <span style="font-size: 17px; color: #FFFFFF; background-color: #FF9B97; padding: 5px;">birthdays and sends you curated gift recommendations
        from our trusted community</span> for the special bubbies in your life</span></p>
        <br>
              
        <br>
        <div style="text-align: center">
        <%= link_to "SIGN UP NOW", new_user_path, :class => "btn btn-large green" %>
        </div>
        <br>
      </div>
    
      <!-- <div class="explainer-video pull-right">
        <iframe width="450" height="253" src="http://www.youtube.com/embed/a7-K1rfFtE8" frameborder="0" allowfullscreen></iframe>
      </div> -->
    </div>
  </div>  
    <br>
    
  <div>
    <hr>
    <div class="row">
    <h2 style="text-align: center; font-size: 17px; color: #9092A2;">BUBBOLI IS TRUSTED BY OUR USERS</h2><br>
    
    
      <div class="span4">
        <p class="quotes">
          "I was looking for a baby shower gift and turned to my facebook friends for advice.  One of them recommended Bubboli where
          I found the baby keepsake.  I am soooooo pleased with the purchase.  My friend loved it!" 
          <br>
          <small><span class="pull-right">- Amy, New York</span></small>
        </p>
      </div>
      
      <div class="span4">
        <p class="quotes">
        "Bubboli made me the favorite aunt with the Strider bike. I can't wait to see my nephew ride it when I visit him next. Thanks bubboli!"   
        <br>
        <small><span class="pull-right">- Nancy, Rhode Island</span></small>
        </p>
      </div>  
      
      <div class="span4">
        <p class="quotes">
        "I was so excited when I received the Deluxe Baby Keepsake Kit from my sister after the birth of my first child.  Such an amazing way
        to capture their little hands and feet.  I am definitely getting this for my girlfriends when they have babies."
        <br>
        <small><span class="pull-right">- Ann-Marie, New Jersey</span></small>        
        </p>
      </div>          
    </div>
    <hr>  
  </div>  
  
  <br>
  <br>
    
  <div class="row">
    <div class="span12">
      <div class="section-header">
        <div class="section-header-text">
          <p>WHY USE<br> 
          BUBBOLI?</p>
        </div>    
      </div>
      <div class="row">
        <div class="span4">
          <div class="index-h3">CURATED FROM OUR COMMUNITY</div>
          <p class="index-p">of parents, teachers, child development specialists, and kids themselves</p>
        </div>
      
        <div class="span4">
          <div class="index-h3">PERSONALIZED GIFTS</div>
          <p class="index-p">based on your preferences for each child</p>
        </div>
      
        <div class="span4">
          <div class="index-h3">ALWAYS ON TIME</div>
          <p class="index-p">we remind you in advance so you are never late with a present again</p>
        </div>
       </div> 
       <br>
       <div class="row">
         <div class="span4">
           <div class="index-h3">WAY TOO MANY OPTIONS</div>
           <p class="index-p">that you don't know what to get or what kids are into these days</p>
         </div>

         <div class="span4">
           <div class="index-h3">TOO BUSY CONQUERING THE WORLD</div>
           <p class="index-p">so why not let us help you take the weight off this one</p>
         </div>

         <div class="span4">
           <div class="index-h3">BUBBOLI IS FOR EVERYONE</div>
           <p class="index-p">no matter if you are an aunt, uncle, grandparent, godparent or friend around the corner or miles away</p>
         </div>
        </div> 
       

     </div>
  </div>
  
    
    
  <div class="row-fluid">
    <div class="section-header">
      <div class="section-header-text">
        <p>HOW DOES<br> 
        IT WORK?</p>
      </div>
    </div>
    
    <div class="how-it-works">  
      <div class="row how-it-works-title">
        <div class="span6">
          <h2>GIFTERS</h2>
        </div>

        <div class="span6">
          <h2>PARENTS</h2>
        </div>
      </div>

      <br>
      <div class="row-fluid">
        <div class="span6">
          <p><%=  add_a_child  %> <br>1) Add the children you want to follow</p>
        </div>

        <div class="span6">
          <p><%=  add_a_child  %> <br>1) Add your children</p>
        </div>
      </div>
      <br>
    
      <div class="row-fluid">
        <div class="span6">
          <p><%=  send_recommendation  %> <br>2) We remind you of upcoming birthdays with a list of personalized gifts based on your preferences</p>
        </div>

        <div class="span6">
          <p><%=  get_gifts  %> <br>2) Keep track of gifts purchased for your children</p>
        </div>
      </div>  
      <br>
    
      <div class="row-fluid">
        <div class="span6">
          <p><%=  hugs_and_kisses  %> <br>3) Get loved, hugged and kissed</p>
        </div>

        <div class="span6">
          <p><%=  get_organized  %> <br>3) Be organized and avoid receiving duplicate gifts</p>
        </div>
      </div>  
      <br>
      
      <div class="row-fluid">
        <div class="span6">
          <br>
          <br>
          <%= link_to "SIGN UP NOW", new_user_path, :class => 'btn btn-large green' %>
        </div>

        <div class="span6">
          <br>
          <br>
          <%= link_to "SIGN UP NOW", new_user_path, :class => 'btn btn-large green' %>
        </div>
      </div>  

    </div>
  </div>
    <br>
</div>  
