<div class="container">
  <div class="row">
    <div class="index-background">  
      <div class="row" style="padding-left: 40px">
        <span style="font-size: 30px; text-align: center; font-family: 'futura-pt-condensed';">BE PREPARED FOR HUGS AND KISSES!</span>
        <br>
        <br>
      </div>
      
      <div class="span5">
        <br>
        <p style="font-size: 17px; text-align: center">Bubboli helps you keep track of
        <span style="font-size: 17px; color: #FF9B97">birthdays and curated gift recommendations</span>
        for the special bubbies in your life</span></p>
        <br>
              
        <br>
        <div style="text-align: center">
        <%= link_to "SIGN UP NOW", new_user_path, :class => "btn btn-large green" %>
        </div>
      </div>
    
      <div class="explainer-video pull-right">
        <iframe width="450" height="253" src="http://www.youtube.com/embed/a7-K1rfFtE8" frameborder="0" allowfullscreen></iframe>
      </div>
    </div>
  </div>  
  
  <br>
  <br>
    
  <div class="row">
    <div class="span12">
      <div class="section-header">
        <div class="section-header-text">
          <p>WHY USE<br> 
          BUBBOLI?</p>
        </div>    
      </div>
      <div class="row">
        <div class="span4">
          <div class="index-h3">CURATED FROM OUR COMMUNITY</div>
          <p class="index-p">of parents, teachers, child development specialists, and kids themselves</p>
        </div>
      
        <div class="span4">
          <div class="index-h3">PERSONALIZED GIFTS</div>
          <p class="index-p">based on your preferences for each child</p>
        </div>
      
        <div class="span4">
          <div class="index-h3">ALWAYS ON TIME</div>
          <p class="index-p">we remind you in advance so you are never late with a present again</p>
        </div>
       </div> 
       <br>
       <div class="row">
         <div class="span4">
           <div class="index-h3">WAY TOO MANY OPTIONS</div>
           <p class="index-p">that you don't know what to get or what kids are into these days</p>
         </div>

         <div class="span4">
           <div class="index-h3">TOO BUSY CONQUERING THE WORLD</div>
           <p class="index-p">so why not let us help you take the weight off this one</p>
         </div>

         <div class="span4">
           <div class="index-h3">BUBBOLI IS FOR EVERYONE</div>
           <p class="index-p">no matter if you are an aunt, uncle, grandparent, godparent or friend around the corner or miles away</p>
         </div>
        </div> 
       

     </div>
  </div>
  
    
    
  <div class="row-fluid">
    <div class="section-header">
      <div class="section-header-text">
        <p>HOW DOES<br> 
        IT WORK?</p>
      </div>
    </div>
    
    <div class="how-it-works">  
      <div class="row how-it-works-title">
        <div class="span6">
          <h2>GIFTERS</h2>
        </div>

        <div class="span6">
          <h2>PARENTS</h2>
        </div>
      </div>

      <br>
      <div class="row-fluid">
        <div class="span6">
          <p><%=  add_a_child  %> <br>1) Add the children you want to follow</p>
        </div>

        <div class="span6">
          <p><%=  add_a_child  %> <br>1) Add your children</p>
        </div>
      </div>
      <br>
    
      <div class="row-fluid">
        <div class="span6">
          <p><%=  send_recommendation  %> <br>2) We remind you of upcoming birthdays with a list of personalized gifts based on your preferences</p>
        </div>

        <div class="span6">
          <p><%=  get_gifts  %> <br>2) Keep track of gifts purchased for your children</p>
        </div>
      </div>  
      <br>
    
      <div class="row-fluid">
        <div class="span6">
          <p><%=  hugs_and_kisses  %> <br>3) Get loved, hugged and kissed</p>
        </div>

        <div class="span6">
          <p><%=  get_organized  %> <br>3) Be organized and avoid receiving duplicate gifts</p>
        </div>
      </div>  
      <br>
      
      <div class="row-fluid">
        <div class="span6">
          <br>
          <br>
          <%= link_to "SIGN UP NOW", new_user_path, :class => 'btn btn-large green' %>
        </div>

        <div class="span6">
          <br>
          <br>
          <%= link_to "SIGN UP NOW", new_user_path, :class => 'btn btn-large green' %>
        </div>
      </div>  

    </div>
  </div>
    <br>
</div>  
