<div class="pic">
<%= five_hundred_error %><br><br><br>
</div>

<div class="message">
<div class="big-font">well, we're embarrassed...</div><br><br>

<p class="small-font">something went wrong, but we are on it!  In the meantime, try refreshing the page
  or <%= mail_to("contact@bubboli.com", "contact us", :subject => "Problem with the site") %> if the problem persists.</p><br>

<p class="small-font"> Thank you for your patience!</p><br>
  
<p class="small-font"><%= link_to "HOME", root_path %> | <%= link_to "SHOP", gifts_path %> | <%= link_to "ABOUT", about_path %></p>
</div>



<style>
.message {
  position: relative;
  z-index: 99;
  color: #53868B;
  background: white;
  height: 240px;
  width: 400px;
  top:-200px;
  left: 380px;
  margin: 15px;
  padding: 25px;
  border-radius: 14px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  }
  
.big-font {
  top: -450px;
  left: 500px;
  font-size: 28px;
  font-weight: bold;
  }
  
.small-font {
  top: -450px;
  left: 500px;
  font-size: 20px;
  font-weight: bold;
  }  

.pic {
  position: relative;
  top: -70px;
  margin-bottom: -380px;
  }

</style>