<% @page_title = "Manage Gift Age Ranges" %>

<div class="container">
  
  <h4>Manage Gift Age ranges</h4>

  <%= semantic_form_for @gift_age_range do |f| %>
    <%= f.inputs do %>

      <%= render(:partial => 'shared/manage', :locals => {:f => f}) %>
    
    <% end %>
  
  
  <div class="pull-right">
  <div class="btn primary white-link"><%= link_to "Cancel", list_gift_age_range_path %></div>
  <%= f.commit_button :button_html => {:class => "primary"}, :label => "Create" %>
  </div>
  
  <% end %>
  
</div>