<ul class="footer-nav">
  <li><%= link_to "ABOUT", about_path %></li>
  <li><%= link_to "BLOG", blogs_path %></li>
  <li><%= link_to "BUBBOLI FAVORITES", favorite_gift_path %></li>
  <li><%= link_to "BRANDS WE LOVE", about_path(:anchor => 'brands_we_love') %></li>
  <li><%= link_to "PRIVACY", privacy_path %></li>
  <li><%= link_to "TERMS OF USE", term_path %></li>
</ul>  
<p style="font-size: 12px;">&copy;Bubboli<sup>TM</sup> | All Rights Reserved</p>
