<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>

<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>
<body>
  
  <div class="wrapper">
    <div class="logo-topbar">
      <div class="logo-topbar-fill">
        <div class="container">
          <div class="nav">
            <% if current_user %>
              <%= link_to bubboli, root_path %>
            <% else %>
              <%= link_to bubboli, root_path %>
            <% end %>
          </div>
      
          <div class="sign-out">
            <% if current_user %>
              Welcome back, <%= current_user.first_name %> | <%= link_to "Sign out", sign_out_path %></br>
              <%= link_to "Admin Panel", admin_path %>
            <% else %>

            <% end %>
          </div>
      
        </div>
      </div>
    </div>
  
    <div class="topbar">
      <div class="fill">
        <div class="container">
          <ul class="nav">
            <li><%= tabs %></li>
            <li class="socialmedia-overlap blog"><%= link_to blog, blogs_path %></li>

          </ul>
        </div>
      </div>
    </div>

    <%= yield %>
    
    <div class="push"></div>

  </div>
</body>



<div>
  <footer>
    <p><%= link_to "About", about_path %> | <%= link_to "Blog", blogs_path %> | <%= link_to "Privacy", privacy_path %> | <%= link_to "Terms of Use", term_path %></p>
    <p>&copy;Bubboli<sup>TM</sup> | All Rights Reserved</p>
  </footer>
</div>

</html>