<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
    
</head>
<body>
  
  <div class="wrapper">
    <div class="logo-topbar">
      <div class="logo-topbar-fill">
        <div class="container">
          <div>
            <% if current_user %>
              <%= link_to bubboli, root_path %>
            <% else %>
              <%= link_to bubboli, root_path %>
            <% end %>
          </div>
            
        </div>
      </div>
    </div>
    
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Bubboli Favorites", favorite_gift_path %></li>
            <li><%= link_to "Brands We Love", gift_brand_path %></li>
            <li><%= link_to "About", about_path %></li>
            <% if signed_in? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= current_user.admin == true ? link_to("Admin Panel", admin_path) : link_to("Profile", "#")%></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", sign_out_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", sign_in_path %></li>
            <% end %>

            <li class="socialmedia-overlap fb"><%= link_to facebook, "http://www.facebook.com/bubboli", :target => "_blank" %></li>
            <li class="socialmedia-overlap twitter"><%= link_to twitter, "http://www.twitter.com/bubboli", :target => "_blank" %></li>
            <li class="socialmedia-overlap pinterest"><%= link_to pinterest, "http://www.pinterest.com/bubboli/", :target => "_blank" %></li>
            <li class="socialmedia-overlap rss"><%= link_to rss, "#", :target => "_blank" %></li>

          </ul>
        </div>
      </div>
    </div>

    <%= yield %>

    <div class="push"></div>
    
  </div>  
</body>

<div>
  <footer>
    <p><%= link_to "About", about_path %> | <%= link_to "Blog", blogs_path %> | <%= link_to "Privacy", privacy_path %> | <%= link_to "Terms of Use", term_path %></p>
    <p>&copy;Bubboli<sup>TM</sup> | All Rights Reserved</p>
  </footer>
</div>

</html>