<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>
  <%= yield :head %>
  
  
<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

  <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-51a4c5f04864e4f4"></script>

  <meta name="keywords" content="Toys and Games for Kids, Boys, Girls, Nieces, Nephews, Baby and Teens. Educational Toys, toy, toys for us. buy toys online. baby games, baby toys, 
  kids toys. Fisher price, Think fun, ThinkFun, Hasbro, Lego, Skip Hop, LeapFrog, Leap frog, Books" /> 
  <meta name="description" content="Bubboli gift ideas for the best birthday gifts, holiday gifts, baby gifts, gifts for girls, gifts for boys, gifts for teens, and gifts for kids." />
    
</head>

<body>

<div class="wrapper">    
<%= render partial: "layouts/header" %>     
      
    <div class="container">
      <hr class="subnav-top">

      <ul class="sub-nav pull-left">    
        <li><%= link_to "NEWEST", '#' %></li>
        <li><%= link_to "BUBBOLI FAVORITES", '#' %></li>
        <li><%= link_to "BABY SHOWERS", '#' %></li>
      </ul>
      
      <%= render partial: "layouts/subnav" %>
      
      <hr class="subnav-bottom">
    </div>
  </div><%# div from the header partial %>
    
  <div class="proper-content">        
    <%= render partial: "shared/flash_messages", flash: flash %> <br>
    <div class="container">
      
      <div class="welcome">
        <%= welcome %>
      </div>  

      <div class="welcome-text">
        <% if signed_in? %>
          Welcome back, <%= current_user.first_name %><br>
          <%= link_to "SIGN OUT", sign_out_path, method: "delete" %>
        <% else %>
          <%= link_to "SIGN IN", sign_in_path %> | <%= link_to "REGISTER", new_user_path %>
        <% end %>
      </div>    
      
      <%= yield %>
    
    </div>  
  </div>
  <div class="push"></div>  
</div>


  <footer>
    <br>
    <%= render partial: "layouts/footer" %>
  </footer>
  
</body>
</html>