<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>


<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>

<body>

<div class="wrapper">   
<%= render partial: "layouts/header" %>

    <div class="container">
      <hr class="subnav-top">

      <ul class="sub-nav pull-left">    
        <li><%= link_to "PHOTOS", '#' %></li>
        <li><%= link_to "RECOMMENDED GIFTS", '#' %></li>
        <li><%= link_to "GIFTS ALREADY PURCHASED", '#' %></li>
      </ul>
      
      <%= render partial: "layouts/subnav" %>
      
      <hr class="subnav-bottom">
    </div>
  </div><%# div from the header partial %>

<div class="proper-content">

<%= render partial: "shared/flash_messages", flash: flash %> <br>

    <div class="container">
  
      <div class="row">
    
        <div class="span3" > 
          <div class="profile-well">
            <%= image_tag(@child_images.first.child.profile_picture.image_url(:profile_pic)) if @child_images.first %>
            <span style="font-size: 12px; font-weight: bold;"><%= @child.first_name %>, Child ID: <%= @child.id %></span><br>
            Location: <span class="float-right"><%= @child.child_city%>, <%= @child.child_state %></span><br>
            Parent: <span class="float-right"><%= @child.first_child_parent.user.first_name if @child.first_child_parent %></span><br>
            
            <% if @child.first_child_parent && @child.first_child_parent.user.first_name == @child.second_child_parent.user.first_name %>
            <% else %>
            Parent: <span class="float-right"><%= @child.second_child_parent.user.first_name if @child.second_child_parent %></span><br>
            <% end %>
            
            Birthday: <span class="float-right"><%= @child.birth_date.strftime("%b. %d")%></span><br>
          </div>

          <br>


          
          
          <div class="accordion" id="accordion2">
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                  GIFT PREFERENCE OPTIONS
                </a>
              </div>
              <div id="collapseOne" class="accordion-body collapse in">
                <div class="accordion-inner">
                  <%= simple_form_for @relationship, :html => {:class => "form-inline"} do |f| %>
                    <%= f.association :relation_type, :as => :collection_select, :input_html => {:class => "input-small"}, :label => "Relation To Child"%>
                    <%= f.association :gift_categories, :as => :check_boxes, :item_wrapper_class => "span2" %>
                    <%= f.association :gift_price_ranges, :as => :check_boxes, :item_wrapper_class => "span2" %>
                    <%= f.button :submit, :class => "primary pull-left" %>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="accordion-group">
              <div class="accordion-heading">
                <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                  EMAIL REMINDER OPTIONS
                </a>
              </div>
              <div id="collapseTwo" class="accordion-body collapse">
                <div class="accordion-inner">
                  <p>Check all that applies:</p>
                  <%= simple_form_for @relationship, :html => {:class => "form-inline"} do |f| %>
                    <% ReminderOption.all.each do |option| %>
                      <%= f.input option.name, as: :radio_buttons, :item_wrapper_class => 'span2'%>
                    <% end %>
                    <%= f.button :submit, 'Update Reminders', :class => 'primary pull_left'%>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
          
        </div>
    
    
        <div class="span9">

          <%= yield %>
    
        </div>
      </div>
    </div>
  <div class="push"></div>
</div>

  <footer>
    <br>
    <%= render partial: "layouts/footer" %>
  </footer>

</body>
</html>