<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>


<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>
<body>
  
  <div class="wrapper">
    <div class="logo-topbar">
      <div class="logo-topbar-fill">
        <div class="container">
          <div>
            <% if current_user %>
              <%= link_to bubboli, root_path %>
            <% else %>
              <%= link_to bubboli, root_path %>
            <% end %>
          </div>
            
        </div>
      </div>
    </div>
  
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
          <ul class="nav">
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "Bubboli Favorites", favorite_gift_path %></li>
            <li><%= link_to "Brands We Love", gift_brand_path %></li>
            <li><%= link_to "About", about_path %></li>
            <% if signed_in? %>
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Account <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= current_user.admin == true ? link_to("Admin Panel", admin_path) : link_to("Profile", current_user )%></li>
                  <li><%= link_to "Settings", edit_user_path(current_user) %></li>
                  <li class="divider"></li>
                  <li>
                    <%= link_to "Sign out", sign_out_path, method: "delete" %>
                  </li>
                </ul>
              </li>
            <% else %>
              <li><%= link_to "Sign in", sign_in_path %></li>
            <% end %>
                      
                      
                      
            <li class="socialmedia-overlap blog"><%= link_to blog, blogs_path %></li>

          </ul>
        </div>
      </div>
    </div>



    <div class="container">
  
      <div class="row">
    
        <div class="span3" > 
          <div class="profile-well">
          Test
          </div>
      
          <div>      
            Location: <%= current_user.address_city %>, <%= current_user.address_state %>
          </div>  
        
          <div class="btn-group square space-break">
            <button class="btn"><span style="font-size: 25px; font-weight: bold"><%= kids_followings.count %></span></br><span style="color: #999999">Following</span></button>
            <button class="btn"><span style="font-size: 25px; font-weight: bold"><%= kids_followings.count %></span></br><span style="color: #999999">Followers</span></button>
            <button class="btn"><span style="font-size: 25px; font-weight: bold"><%= kids_followings.count %></span></br><span style="color: #999999">Pending</span></button>
          </div>

        </div>
    
    
        <div class="span9">

          <%= yield %>
    
        </div>
    
      </div>
  
    </div>



