<!DOCTYPE html>
<html>
<head>
  <title><%= @page_title || 'Bubboli' %></title>
  <%= stylesheet_link_tag "application",  :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag %>


<% # Adding google analytics below %>  
  <script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30251348-1']);
    _gaq.push(['_setDomainName', 'bubboli.com']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>
  
</head>

<body>

<div class="wrapper">  
<%= render partial: "layouts/header" %>

  <div class="container">
    <hr class="subnav-top">

      <ul class="sub-nav pull-left">    
        <li><%= link_to "UPCOMING BIRTHDAYS", user_path(:anchor => 'upcoming_birthday') %></li>
        <li><%= link_to "MY KIDS", user_path(:anchor => 'my_kids') %></li>
        <li><%= link_to "CHILDREN I AM FOLLOWING", user_path(:anchor => 'children_following') %></li>
      </ul>
      
      <%= render partial: "layouts/subnav" %>
      
    <hr class="subnav-bottom">
  </div>
  </div><%# div from the header partial %>
  
<div class="proper-content">

<%= render partial: "shared/flash_messages", flash: flash %> <br>

  <div class="container">
    <div class="container">
      <div class="welcome">
        <%= welcome %>
      </div>  

      <div class="welcome-text">
        <% if signed_in? %>
          Welcome back, <%= current_user.first_name %><br>
          <%= link_to "SIGN OUT", sign_out_path, method: "delete" %>
        <% else %>
          <%= link_to "SIGN IN", sign_in_path %> | <%= link_to "REGISTER", new_user_path %>
        <% end %>
      </div>
  
    <div class="row">
    
      <div class="span3 static-left-side" > 
        <div class="profile-well">
          <%= image_tag(@user.image_url(:profile_pic)) if @user.image %>
        </div>
          
        <br>
      
        <div>      
          Name: <%= current_user.first_name %><br>
          Location: <%= current_user.address_city if current_user %>, <%= current_user.address_state if current_user %>
        </div>  
        
        <div class="btn-group space-break">
          <div class="btn btn-borderless btn-grp-small-size"><span class="user_grp_btn_link"><%= link_to @user.followings.count, following_path %></span></br><span style="color: #999999">Following</span></div>
          <div class="btn btn-borderless btn-grp-small-size"><span class="user_grp_btn_link"><%= link_to @user.my_kids_followers.count, followers_path %></span></br><span style="color: #999999">Followers</span></div>
          <div class="btn btn-borderless btn-grp-small-size"><span class="user_grp_btn_link"><%= link_to @user.pending.count, pending_path %></span></br><span style="color: #999999">Pending</span></div>
          <div class="btn btn-borderless btn-grp-small-size"><span class="pending_link"><%= link_to User.invitation_count(current_user) + @user.my_kids_requests.count, requests_path %></span></br><span style="color: #999999">Requests</span></div>
        </div>
        
        <br><br>
        
        <div class="user-notification">
          <% if current_user.my_kids_requests %>
            You have <%= link_to (User.invitation_count(current_user) + @user.my_kids_requests.count), requests_path %> friend requests.
          <% end %>
          <br><br>
          <% if current_user.my_kids %>
            <% current_user.my_kids.each do |kid| %>
              <% if kid.gift_accessions %>
              <%= link_to kid.first_name, relationship_path(current_user, kid) %> has some gifts that needs your approval.
              <% end %>
            <% end %>
          <% end %>
        </div>  
      </div>
    
    
      <div class="offset3 span9">

        <%= yield %>
    
      </div>
    </div>
  </div>
</div>

<div class="push"></div>
</div>
  <footer>
    <br>
    <%= render partial: "layouts/footer" %>
  </footer>
</body>
</html>